@import "tailwindcss";

:root {
  --main-blue: #51a8dd;
  --main-white: #f8f8f4;
  --main-black: #3a3a3a;
  --main-pink: #e03c8a;
  --dk-blue: #79c0ff;
  --dk-white: #e0e0e0;
  --dk-black: #1c1c1c;
  --dk-pink: #e86098;
}

@theme inline {
  --color-text: var(--background);
  --color-bg: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-main-blue: var(--main-blue);
  --color-main-white: var(--main-white);
  --color-main-black: var(--main-black);
  --color-main-pink: var(--main-pink);
  --color-dk-blue: var(--dk-blue);
  --color-dk-white: var(--dk-white);
  --color-dk-black: var(--dk-black);
  --color-dk-pink: var(--dk-pink);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dk-black);
    --foreground: var(--dk-white);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
